*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* heaader and necigration style */
.text-primary{
    color: orange;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    border: 0px;
    padding: 15px 30px;
}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position:bottom right ,left;
  
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800px;
    font-size:45px;

    
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
/* Banner style */
.banner{
    margin: 0px 50px 0px 200px;
    display: flex;
    align-items: center;
    margin-bottom: 120px;
  
}
.banner-title{
    font-style: normal;
font-weight: 600;
font-size: 55px;


}
.banner-sub-title{
    font-size: 45px;
    line-height: 61px;
    color: #474747;
    margin-bottom: 20px;
}
.banner-description{
 font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #757575;
margin-bottom: 30px;
}

/* About Section */
main{
    max-width:1140px;
    background: #FFF8F3;
    border-radius: 10px;
    margin: 0 auto;
}
.about{
    padding: 130px 155px;
    text-align: center;


}
.section-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;

}
.info-title{
    font-size:20px;
    color: #757575;
}
.info-description{
    color: #0b0303;
}
.skill-container{
    display: flex;
    text-align:left ;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    padding-top: 20px;
    padding-bottom: 20px;

}
.skill{
    margin: 20px;
}
.skill-description{
    line-height: 25px;
    font-size: 15px;
    color:gray;
}
.resume{
    margin-bottom: 30px;
    font-size: 30px;
    
}
.summary{
    margin-bottom: 110px;
    text-align: center;
}
.resume-content{
    display: flex;
    gap: 25px;

}

.resume-title{
    color: #474747;
    padding-bottom: 30px;
}
.resume .title{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #0e0707;
    padding-bottom: 10px;

}
.resume .sub-title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 20px;
}
.resume .description{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    padding-bottom: 30px;   
}
hr{
   margin-bottom: 20px;
   color: orange;
}
.cv-btn{
    margin-top: 60px;
    text-align: center;
}
.contact{
    max-width: 1140px;
    margin: auto;
    display: flex;
    gap: 100px;
    background-color:#FFF8F3 ;
    padding: 100px 200px;
  
    
}
.lets-contact h3{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;

}
.contact input[type="text"],input[type="email"],textarea{
    margin-bottom: 24px;
    border: none;
    width: 100%;
    padding:20px;
}
.con-des{
    padding-right: 180px;
    line-height: 30px;
    margin-bottom: 30px;
}

